.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-footer {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}
